:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  // Project Colors
  --white: #FFFFFF;
  --dark-text: #000000;
  --ease-transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;

  .box-outer {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;

    .box {
      display: grid;
      place-items: center;
      min-width: 50px;
      border: 1px solid #ddd;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      aspect-ratio: 1;
      position: relative;
      transition: var(--ease-transition);

      &.selected{
        background-color: var(--white);
        color: var(--dark-text);
      }
      &:hover:not(.selected){
        background-color: rgba(255,255,255,0.1);
      }
    }
  }
}

.btn{
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--dark-text);
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  width: 120px;
  margin: 20px auto 0;
}